/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}
.aspect{
    aspect-ratio: 16/9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h2, h6 {
    margin: 0px 0px 10px;
    color: #333;
}

h2 {
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
    position: relative;
}

h3::after, h3::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
}

h3::after {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #ff305b;
    top: 60px;
    width: 70px;
    height: 10px;
}

h3::before {
    top: 65px;
    background-color: #ff305b;
    width: 170px;
    height: 1px;
}

.section-heading {
    margin-bottom: 50px;
}

ul {
    list-style: none;
    font-family: "Roboto";
}



p {
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
}

a {
    text-decoration: none;
    color: #333;
    font-family: "Roboto";
}

button {
    text-transform: uppercase;
    font-family: 'Roboto';
}

.buttons {
    background-color: #ff305b;
    color: white;
    margin-right: 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;

}

.buttons:hover {
    background-color: #ff0033;
}

.buttons i {
    margin-left: 3px;
}

.main-container {
    width: 60%;
    margin: auto;
}

/*************************************** Nav-bar ***************************************/
#navbar {
    position: fixed;
    background-color: #252525;
    height: 60px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}

#navbar .nav-container {
    overflow: auto;
    width: 60%;
    margin: 0px auto;
}


.nav-container input {
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    margin: 0 auto;
}


.left-nav {
    float: left;
    padding: 15px 0px;
    z-index: 50;
    position: relative;
}

.left-nav a {
    color: #FF305B;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
}

.right-nav {
    float: right;
    margin-right: 5px;
}

.right-nav ul li {
    max-height: 60px;
    float: left;
    margin-left: 15px;
}

.right-nav ul li a {
    display: inline-block;
    padding: 20px 0px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);

}

.right-nav ul li a:hover {
    color: #FF305B;
}

.active {
    color: #FF305B !important;
}

/*************************************** Home ***************************************/

#home {
    background-image: url(../images/hero-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.home-container {
    background-color: #000000cb;
    height: inherit;
    transition: all 0s;
}

.welcome-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome-content h1 {
    font-size: 70px;
    font-weight: 700;
    color: #FF305B;
    text-transform: uppercase;
}

.welcome-content h4 {
    font-size: 24px;
    font-weight: 600;
}

.welcome-animation {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    border-right: 2px solid white;
    animation: auto-write-hide 6s infinite ease;
    -webkit-animation: auto-write-hide 6s infinite ease;
}

.welcome-animation h5 {
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    white-space: nowrap;
}

.welcome-content h5 span {
    transition: all 0.1s;
}

.welcome-content h5 span::after {
    content: 'Designer';
    animation: auto-write-word 6s infinite ease;
    -webkit-animation: auto-write-word 6s infinite ease;
}

/* h5 animation keyframes */


@keyframes auto-write-hide {
    0% {
        width: 80%;
    }

    30% {
        width: 80%;
    }

    40% {
        width: 50%;
    }

    50% {
        width: 82%;
    }

    80% {
        width: 82%;
    }

    90% {
        width: 50%;
    }

    100% {
        width: 80%;
    }
}

@keyframes auto-write-word {
    0% {
        content: 'Designer';
    }

    40% {
        content: 'Designer';
    }

    41% {
        content: 'Developer';
    }

    90% {
        content: 'Developer';
    }
}


/*************************************** About ***************************************/

#about {
    background-color: rgb(255, 255, 255);
    padding: 90px 0px;
    overflow: auto;
}

.about-left {
    float: left;
    width: 30%;
    margin-left: 90px;
}

.img-border {
    border: 8px solid #555555;
    border-radius: 5px;
}

.img-contain {
    transform: translate(15px, 15px);
    margin: 0px -15px -20px 0px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.img-hover {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100%;
    opacity: 0;
    transition-duration: 0.5s;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icon {
    display: inline-block;
    color: white;
    font-size: 18px;
    width: 32px;
    transition-duration: 0.1s;
}

.social-icon:hover {
    color: #ff305b;
}

.img-contain:hover .img-hover {
    top: 0;
    opacity: 1;
}


.about-right {
    float: right;
    width: 51%;
}

.about-right h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 20px;
    margin-left: 12px;
    position: relative;
    /* Another Solution without before(after removing margin left and the before)*/

    /* padding-left: 12px;
    border-left:4px solid #FF305B; */
}


.about-right h2::before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -12px;
    background-color: #FF305B;
}


.about-right p {
    border-bottom: 1px dashed grey;
    padding: 10px 0px 20px;
}

.about-details ul li {
    display: inline-block;
    width: 39%;
    font-weight: 400;
    margin-bottom: 25px;
    color: #5f5f5f;
}

.second-dt {
    width: 60% !important;
}

.about-details span {
    font-weight: 500;
    color: #2e2e2e;
}

.about-details ul {
    margin-bottom: 10px;
}

.about-details ul li a {
    color: #5f5f5f;
}




/*************************************** Services ***************************************/

#services {
    background-color: #F1F1F1;
    padding: 90px 0px 60px 0px;
    overflow: auto;
    text-align: center;
}

.service-card {
    width: 25%;
    text-align: center;
    float: left;
    padding: 0px 10px;
}

.service-card i {
    font-size: 30px;
    color: #ff305b;
    margin: 40px auto 20px;
}

.service-card:hover {
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

}

.service-card:hover i {
    transform: scale(1.2, 1.2);

}

.service-card h2 {
    font-weight: 600;
    color: #333;
}


/*************************************** Portfolio ***************************************/

#portfolio {
    padding: 90px 0px 60px 0px;
    overflow: auto;
    text-align: center;
}

#portfolio ul {
    margin-bottom: 50px;
}

#portfolio li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#portfolio li a {
    padding: 3px 12px;
}



.portfolio-item {
    float: left;
    padding: 0px 15px;
    margin: 10px 0px;
    width: 33.33%;

}

.pr-img {
    position: relative;
}

.pr-item-hover {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition-duration: 0.5s;
}

.portfolio-item i {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 24px;
    color: #ff305b;
}

.portfolio-item .pr-img:hover .pr-item-hover {
    opacity: 1;
    cursor: pointer;
}

/*************************************** counter ***************************************/

#counter {
    background-color: #F1F1F1;
    padding: 50px 0px;
    overflow: auto;
    text-align: center;
}

.counter-card {
    width: 25%;
    text-align: center;
    float: left;
    padding: 0px 10px;
}

.counter-card i {
    font-size: 24px;
    color: #ff305b;
    margin: 40px auto 10px;
}

.counter-card h2 {
    font-weight: 800;
    font-size: 26px;
    color: #333;
    margin-bottom: 0px;
}

.counter-card p {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}


/*************************************** feedback ***************************************/

#feedback {
    padding: 90px 0px;
    overflow: auto;
    text-align: center;
}

.feedback-card {
    overflow: hidden;
    background-color: #F1F1F1;
    position: relative;
    text-align: left;
    padding: 40px;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;

}

.feedback-content {
    z-index: 1;
    position: relative;
}

.feedback-img {
    float: left;
    margin-top: 20px;
}

.feedback-img img {
    border-radius: 50%;
    width: 110px;
}

.feedback-card::after {
    content: '';
    background-color: #ff305b;
    width: 170px;
    height: 120%;
    position: absolute;
    left: -60px;
    top: -110px;
    z-index: 0;
    transform: rotate(45deg);
}

.feedback-text {
    width: 80%;
    float: right;
}

.feedback-text h4 {
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.feedback-text a {
    font-size: 16px;
    color: #777777;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.feedback-text a i {
    font-size: 12px;
    color: #777777;
    margin: 10px 0px;
}

.feedback-text p {
    font-style: italic;
    margin-bottom: 10px;
}

.feedback-text ul li {
    float: left;
    margin-right: 3px;
}

.feedback-text ul li i {
    font-size: 14px;
    color: #F1C30D;
    margin: 10px 0px;
}

.bullet-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #ff305b;
    border-radius: 50%;
    margin: 10px 2px 0px 0px;
}

.bullet-dot:hover {
    cursor: pointer;
}

.f-active {
    width: 26px;
    background-color: #ff305b;
    border-radius: 50px;
}

/*************************************** blog ***************************************/

#blog {
    background-color: #F1F1F1;
    padding: 90px 0px;
    overflow: auto;
    text-align: center;
}

.blog-card {
    text-align: left;
    float: left;
    padding: 0px 15px;
    margin: 10px 0px;
    width: 33.33%;
}

.blog-thumb {
    height: auto;
    overflow: hidden;
    position: relative;
}

.blog-info {
    padding: 20px;
    background-color: white;
}

.blog-info h6, p {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25px;
    color: #555;
}

.blog-info h2 a {
    font-size: 24px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    text-transform: capitalize;
}

.blog-info a {
    text-transform: uppercase;
}

.blog-info a:hover {
    color: #ff305b;
}


/*************************************** contact ***************************************/

#contact {
    padding: 90px 0px;
    overflow: auto;
    text-align: center;
}

.contact-form {
    overflow: visible;
    width: 65%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
}

.contact-form input, textarea {
    padding: 6px 12px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #3f3f3f;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Roboto';

}

.contact-form textarea {
    height: auto;
    transition-duration: 0s;
}

.contact-form textarea:focus, input[type=text]:focus, input[type=email]:focus {
    outline: 0;
    border: 1px solid #ff305b;
}

.contact-form input::placeholder, textarea::placeholder {
    color: #969696;
}

.contact-form #name {
    width: 48%;
    float: left;
}

.contact-form #email {
    width: 48%;
    float: right;
}

.contact-form button {
    display: block;
}

/*************************************** Footer ***************************************/

#footer {
    padding: 60px 0px 60px 0px;
    background-color: #333333;
    font-size: 17px;
    line-height: 30px;
    text-align: center;

}

.footer-details p a {
    color: #ff305b;
}

.footer-details p a:hover {
    color: grey;
}

.footer-details p {
    margin: 15px 0px;
    color: white;
}



/*************************************** RWD MEDIAS ***************************************/



/* XXL devices (large laptops and desktops, 1200px to 1680 px) */
@media only screen and (min-width: 1400px) and (max-width: 1680px) {

    .main-container {
        width: 80%;
    }

    #navbar .nav-container {
        width: 80%;
    }

}

/* XL devices (large laptops and desktops, 1200px to 1400 px) */
@media only screen and (max-width: 1399px) {

    .main-container {
        width: 75%;
    }

    #navbar .nav-container {
        width: 90%;
    }

    .feedback-card {
        width: 90%;
    }

}

/* L devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) {
    .main-container {
        width: 100%;
    }

    #navbar .nav-container {
        width: 90%;
    }

    .about-left {
        margin-left: 80px;
    }

    .about-right {
        width: 55%;
    }

    .feedback-card {
        width: 75%;
    }


}


/* M devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {


    .main-container {
        width: 95%;
    }

    #navbar .nav-container {
        width: 85%;
        transition: all 0s;
    }

    .right-nav ul li {
        transition: all 0s;
    }

    .img-border {
        border: none;
    }

    .img-contain {
        transform: translate(0);
        border-radius: 0px;
        margin: 0;
        width: 100%;
    }

    .about-left {
        width: 48%;
        margin-left: 0px;
    }

    .about-right {
        width: 48%;
    }

    .about-details ul li {
        font-size: 14px;
        width: 43%;
        margin-bottom: 10px;
    }

    .second-dt {
        width: 55% !important;
    }

    #services {
        padding: 50px 0px 60px 0px;
    }

    .service-card {
        width: 50%;
    }


    #portfolio {
        padding: 50px 0px;
    }

    .portfolio-item {
        width: 50%;
    }

    #feedback {
        padding: 50px 0px;
    }

    .feedback-card {
        width: 100%;
    }

    #blog {
        padding: 60px 0px;
    }

    .blog-info {
        padding: 10px;
    }

    .blog-info h6, p {
        font-size: 14px;
    }


    .blog-info h2 a {
        font-size: 18px;
    }

    .blog-info a {
        font-size: 14px;
    }


    #blog .main-container {
        width: 100%;
    }

    #contact {
        padding: 60px 0px;
    }

    .contact-form {
        width: 100%;
    }

}


/* S devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .main-container {
        width: 60%;
    }

    #navbar .nav-container {
        width: 60%;
        position: relative;
    }

    .nav-container .nav-toggle {
        position: absolute;
        width: 100%;
        height: 55px;
        overflow: hidden;
    }


    .nav-toggle-icon span::after {
        content: "\2630";
        color: white;
        font-size: 25px;
        position: absolute;
        top: 10%;
        bottom: 0;
        right: 0;
        height: fit-content;
        padding: 5px 10px;
    }

    .nav-toggle-icon:hover span::after {
        cursor: pointer;
        color: #ff305b;
    }

    .nav-toggle-icon:active span::after {
        background-color: #680d1f;
    }

    #nav-icon:checked~.right-nav {
        height: auto;
    }

    .right-nav {
        float: right;
        margin-right: 0px;
        margin-top: 0px;
        overflow: hidden;
        height: 0px;
    }

    .right-nav ul {
        text-align: center;
        margin-top: 0px;
    }

    .right-nav ul li {
        display: block;
        width: 100%;
        margin: auto;
        background-color: hsla(0, 0%, 15%, 0.9);
        transition: all 0s;
    }

    .right-nav ul li:hover {
        background-color: rgba(29, 24, 24, 0.9)
    }

    .right-nav ul li a {
        display: inline-block;
        padding: 20px 0px;
        width: 100%;
    }


    /* ---------- */

    .welcome-content h1 {
        font-size: 56px;
    }

    .welcome-animation h5 {
        font-size: 21px;
    }


    /* ---------- */

    #about {
        padding: 60px 0px;
    }

    .img-border {
        border: none;
    }

    .img-contain {
        transform: translate(0);
        border-radius: 0px;
        margin: 0 0 50px 0;
        width: 100%;
    }

    .about-left {
        float: none;
        width: 100%;
        margin-left: 0px;
    }

    .about-right {
        float: none;
        width: 100%;
    }

    .about-right p {
        font-size: 16px;
    }

    .about-details ul li {
        font-size: 16px;
        width: 100%;
        margin-bottom: 25px;
    }

    /* ---------- */

    #services {
        padding: 50px 0px 60px 0px;
    }

    .service-card {
        width: 100%;
    }


    /* ---------- */


    #portfolio {
        padding: 50px 0px;
    }

    #portfolio li a {
        padding: 3px 6px;
    }

    .portfolio-item {
        width: 100%;
    }


    /* ---------- */
    #counter {
        padding: 30px 0px;
    }

    .counter-card {
        width: 100%;
    }


    /* ---------- */
    #feedback {
        padding: 50px 0px;
    }

    .feedback-card {
        width: 100%;
        padding: 20px;
    }

    .feedback-img {
        float: none;
        margin: 20px auto;

    }

    .feedback-img img {
        margin: auto;
        width: 30%;
    }

    .feedback-text {
        float: none;
    }

    .feedback-card::after {
        left: -80px;
        top: -200px;
    }

    /* ---------- */

    #blog {
        padding: 60px 0px;
    }

    .blog-card {
        width: 65%;
        margin: 35px auto;
        float: none;
    }

    .blog-info {
        padding: 20px;
    }

    .blog-info h6, p {
        font-size: 14px;
    }

    .blog-info h2 a {
        font-size: 22px;
    }

    .blog-info a {
        font-size: 14px;
    }

    /* ---------- */
    #contact {
        padding: 60px 0px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form #name {
        width: 100%;
    }

    .contact-form #email {
        width: 100%;
    }

    .footer-details p {
        font-size: 17px;
    }
}

/* XS devices (portrait tablets and large phones, Bellow 600px) */
@media only screen and (max-width: 600px) {
    .main-container {
        width: 80%;
    }

    #navbar .nav-container {
        width: 80%;
        position: relative;
    }

    .nav-container .nav-toggle {
        position: absolute;
        width: 100%;
        height: 55px;
        overflow: hidden;
    }


    .nav-toggle-icon span::after {
        content: "\2630";
        color: white;
        font-size: 25px;
        position: absolute;
        top: 10%;
        bottom: 0;
        right: 0;
        height: fit-content;
        padding: 5px 10px;
    }

    .nav-toggle-icon:hover span::after {
        cursor: pointer;
        color: #ff305b;
    }

    .nav-toggle-icon:active span::after {
        background-color: #680d1f;
    }

    #nav-icon:checked~.right-nav {
        height: auto;
    }

    .right-nav {
        float: right;
        margin-right: 0px;
        margin-top: 0px;
        overflow: hidden;
        height: 0px;
    }

    .right-nav ul {
        text-align: center;
        margin-top: 0px;
    }

    .right-nav ul li {
        display: block;
        width: 100%;
        margin: auto;
        background-color: hsla(0, 0%, 15%, 0.9);
        transition: all 0s;
    }

    .right-nav ul li:hover {
        background-color: rgba(29, 24, 24, 0.9)
    }

    .right-nav ul li a {
        display: inline-block;
        padding: 20px 0px;
        width: 100%;
    }


    /* ---------- */

    
    .welcome-content h4 {
        font-size: 20px;
    }

    .welcome-content h1 {
        font-size: 45px;
    }

    .welcome-animation h5 {
        font-size: 17px;
    }



    /* ---------- */

    #about {
        padding: 60px 0px;
    }

    .img-border {
        border: none;
    }

    .img-contain {
        transform: translate(0);
        border-radius: 0px;
        margin: 0 0 50px 0;
        width: 100%;
    }

    .about-left {
        float: none;
        width: 100%;
        margin-left: 0px;
    }

    .about-right {
        float: none;
        width: 100%;
    }

    .about-right p {
        font-size: 16px;
    }

    .about-details ul li {
        font-size: 16px;
        width: 100%;
        margin-bottom: 25px;
    }

    /* ---------- */

    #services {
        padding: 50px 0px 60px 0px;
    }

    .service-card {
        width: 100%;
    }


    /* ---------- */


    #portfolio {
        padding: 50px 0px;
    }

    #portfolio li a {
        padding: 3px 6px;
    }

    .portfolio-item {
        width: 100%;
    }


    /* ---------- */
    #counter {
        padding: 30px 0px;
    }

    .counter-card {
        width: 100%;
    }


    /* ---------- */
    #feedback {
        padding: 50px 0px;
    }

    .feedback-card {
        width: 100%;
        padding: 20px;
    }

    .feedback-img {
        float: none;
        margin: 20px auto;

    }

    .feedback-img img {
        margin: auto;
        width: 30%;
    }

    .feedback-text {
        float: none;
    }

    .feedback-card::after {
        left: -80px;
        top: -200px;
    }

    /* ---------- */

    #blog {
        padding: 60px 0px;
    }

    .blog-card {
        width: 85%;
        margin: 35px auto;
        float: none;
    }

    .blog-info {
        padding: 20px;
    }

    .blog-info h6, p {
        font-size: 14px;
    }

    .blog-info h2 a {
        font-size: 22px;
    }

    .blog-info a {
        font-size: 14px;
    }

    /* ---------- */
    #contact {
        padding: 60px 0px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form #name {
        width: 100%;
    }

    .contact-form #email {
        width: 100%;
    }

    .footer-details p {
        font-size: 17px;
    }
}